<h1>Products#show_all_products</h1>
<p>Find me in app/views/products/show_all_products.html.erb</p>
<div class="columns is-multiline">
  <%= render partial: "product", collection: @all_products %>
</div>
<div class="d-inline-block">
        <%= paginate @all_products, window: 2 %>
      </div>